{% extends 'base.html' %}

{% block title %}Update User{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1 class="text-center my-3">Update User</h1> 

			<form action="{% url 'todolist:update_user' %}" method="post">
				{% csrf_token %}
				{% if form.errors %}
					<p class="text-danger">Please correct the errors below.</p>
				{% endif %}


				<div class="mb-3">
				  <label for="first_name" class="form-label">First Name:</label>
				  <input type="text" class="form-control" id="first_name" name="first_name" value="{{user.first_name}}" maxlength="20" required>
				</div>

				<div class="mb-3">
				  <label for="last_name" class="form-label">Last Name:</label>
				  <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}" maxlength="20" required>
				</div>

				<div class="mb-3">
				  <label for="password" class="form-label">Password:</label>
				  <input type="password" class="form-control" id="password" name="password" value="{{form.password.value}}" maxlength="20" required>
				</div>

				<div class="mb-3">
				  <label for="confirm_password" class="form-label">Confirm Password:</label>
				  <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="{{form.confirm_password.value}}" maxlength="20" required>
				</div>

				<div class="text-center">
					<input class="btn btn-success" type="submit" value="Update User">
				</div>

			</form>
		</div>
	</div>
</div>


{% endblock %}